In [16]:
import pandas as pd
import json

In [21]:
embedding_path = "prepared_data/embedding.csv"
embedding_df = pd.read_csv(embedding_path)
embedding_df["date"] = pd.to_datetime(embedding_df["date"]).dt.date
embedding_df

,date,code,z_0,z_1,z_2,z_3,z_4,z_5,z_6,z_7
0,2023-01-03,25,0.021594,0.189350,0.005870,0.094773,-9.261945e-28,0.034962,0.401183,0.569945
1,2023-01-04,12,0.102584,0.253331,0.088687,0.262031,1.646256e-24,0.050349,0.120076,0.256553
2,2023-01-05,9,0.034468,0.032504,0.005644,0.347086,-1.079616e-28,0.339522,0.439623,0.407905
3,2023-01-06,7,0.190114,0.087750,0.160866,0.387595,-1.205483e-27,0.435344,0.160252,0.076243
4,2023-01-09,16,0.111109,0.432911,0.087223,0.046769,5.278745e-22,0.038995,0.109769,0.296704
...,...,...,...,...,...,...,...,...,...,...
497,2024-12-24,18,0.247099,0.285105,0.219507,0.215229,1.021299e-29,0.226921,0.026946,0.065848
498,2024-12-26,18,0.247099,0.285105,0.219507,0.215229,1.021299e-29,0.226921,0.026946,0.065848
499,2024-12-27,25,0.021594,0.189350,0.005870,0.094773,-9.261945e-28,0.034962,0.401183,0.569945
500,2024-12-30,7,0.190114,0.087750,0.160866,0.387595,-1.205483e-27,0.435344,0.160252,0.076243
501,2024-12-31,25,0.021594,0.189350,0.005870,0.094773,-9.261945e-28,0.034962,0.401183,0.569945

In [22]:
news_path = "processed_news.csv"
news_df = pd.read_csv(news_path)
news_df["date"] = pd.to_datetime(news_df["date"]).dt.date
news_df

,date,text,title,body
0,2021-01-01,Sony to launch PlayStation 5 in India on Febru...,Sony to launch PlayStation 5 in India on Febru...,The Japanese firm said it will begin taking pr...
1,2021-01-01,Sony is launching the PS5 in India on February...,Sony is launching the PS5 in India on February...,PlayStation gamers in India will finally have ...
2,2021-01-01,Huawei removes Tencent games from its Chinese ...,Huawei removes Tencent games from its Chinese ...,Huawei has pulled Tencent games like Arena of ...
3,2021-01-01,Stadia Pro adds 'F1 2020' and 'Hotline Miami'\...,Stadia Pro adds 'F1 2020' and 'Hotline Miami',"To ring in the new year, Google has added four..."
4,2021-01-01,A workout-at-home service report card\n\nHere'...,A workout-at-home service report card,Here's how a number of at-home workout service...
...,...,...,...,...
66148,2023-12-30,Mark Zuckerberg Is Reportedly Building an Unde...,Mark Zuckerberg Is Reportedly Building an Unde...,Meta's Mark Zuckerberg and his wife Priscilla ...
66149,2023-12-30,Ozempic drugmaker to open AI research hub in K...,Ozempic drugmaker to open AI research hub in K...,Novo Nordisk is poised to open a new AI resear...
66150,2023-12-30,"Colombia Should Lower 35% Corporate Tax Rate, ...","Colombia Should Lower 35% Corporate Tax Rate, ...",(Bloomberg) -- Colombia President Gustavo Petr...
66151,2023-12-30,Nvidia Stock Has This Under-the-Radar Artifici...,Nvidia Stock Has This Under-the-Radar Artifici...,Nvidia stock investors are all focused on the ...
66152,2023-12-30,2 Unstoppable Artificial Intelligence (AI) Sto...,2 Unstoppable Artificial Intelligence (AI) Sto...,Giants like Microsoft and Amazon aren't the on...

In [23]:
group_news_df = news_df.groupby("date")["text"].apply(list).reset_index()
group_news_df

           date                                               text
0    2021-01-01  [Sony to launch PlayStation 5 in India on Febr...
1    2021-01-02  ['Apex Legends' Fight Night event formalizes i...
2    2021-01-03  [Mixtape podcast: Behind the curtain of divers...
3    2021-01-04  [Known for 5G mmWave testing solutions, Taiwan...
4    2021-01-05  [Twitter is buying a podcast app to help build...
..          ...                                                ...
943  2023-12-20  [Forsaken China Stocks Get a New Look by Top E...
944  2023-12-22  [Up Over 80%, Is Amazon Stock a Buy for 2024?\...
945  2023-12-26  [Did Your Holiday Shopping Follow National Tre...
946  2023-12-27  [13 Best IPO Stocks to Buy Heading into 2024\n...
947  2023-12-30  [Taboola.com Ltd CTO Lior Golan Sells 60,000 S...

[948 rows x 2 columns]

In [24]:
group_news_df["text"] = group_news_df["text"].apply(json.dumps)
group_news_df

           date                                               text
0    2021-01-01  ["Sony to launch PlayStation 5 in India on Feb...
1    2021-01-02  ["'Apex Legends' Fight Night event formalizes ...
2    2021-01-03  ["Mixtape podcast: Behind the curtain of diver...
3    2021-01-04  ["Known for 5G mmWave testing solutions, Taiwa...
4    2021-01-05  ["Twitter is buying a podcast app to help buil...
..          ...                                                ...
943  2023-12-20  ["Forsaken China Stocks Get a New Look by Top ...
944  2023-12-22  ["Up Over 80%, Is Amazon Stock a Buy for 2024?...
945  2023-12-26  ["Did Your Holiday Shopping Follow National Tr...
946  2023-12-27  ["13 Best IPO Stocks to Buy Heading into 2024\...
947  2023-12-30  ["Taboola.com Ltd CTO Lior Golan Sells 60,000 ...

[948 rows x 2 columns]

In [27]:
final_df = embedding_df.merge(group_news_df, on="date", how="inner")

In [28]:
final_df

,date,code,z_0,z_1,z_2,z_3,z_4,z_5,z_6,z_7,text
0,2023-01-03,25,0.021594,0.189350,0.005870,0.094773,-9.261945e-28,0.034962,0.401183,0.569945,"[""INFOLOB Solutions, Inc. Announces Company Re..."
1,2023-01-04,12,0.102584,0.253331,0.088687,0.262031,1.646256e-24,0.050349,0.120076,0.256553,"[""Rover Metals Announces Intent to Re-price Pr..."
2,2023-01-05,9,0.034468,0.032504,0.005644,0.347086,-1.079616e-28,0.339522,0.439623,0.407905,"[""Innovent Announces NMPA's Breakthrough Thera..."
3,2023-01-06,7,0.190114,0.087750,0.160866,0.387595,-1.205483e-27,0.435344,0.160252,0.076243,"[""VRSim Hosts Senator Murphy at East Hartford ..."
4,2023-01-09,16,0.111109,0.432911,0.087223,0.046769,5.278745e-22,0.038995,0.109769,0.296704,"[""Esperion Outlines Upcoming Milestones and An..."
...,...,...,...,...,...,...,...,...,...,...,...
221,2023-12-19,18,0.247099,0.285105,0.219507,0.215229,1.021299e-29,0.226921,0.026946,0.065848,"[""Here's Why I Just Sold These 2 Blue-Chip Sto..."
222,2023-12-20,16,0.111109,0.432911,0.087223,0.046769,5.278745e-22,0.038995,0.109769,0.296704,"[""Forsaken China Stocks Get a New Look by Top ..."
223,2023-12-22,16,0.111109,0.432911,0.087223,0.046769,5.278745e-22,0.038995,0.109769,0.296704,"[""Up Over 80%, Is Amazon Stock a Buy for 2024?..."
224,2023-12-26,9,0.034468,0.032504,0.005644,0.347086,-1.079616e-28,0.339522,0.439623,0.407905,"[""Did Your Holiday Shopping Follow National Tr..."
225,2023-12-27,12,0.102584,0.253331,0.088687,0.262031,1.646256e-24,0.050349,0.120076,0.256553,"[""13 Best IPO Stocks to Buy Heading into 2024\..."

In [30]:
final_path = "prepared_data/final.csv"
final_df.to_csv(final_path, index=False)